In [1]:
import pandas as pd
import numpy as np
import re

## Sustainability Patents

In [2]:
# Read the Excel file into a DataFrame
# WIPO
WIPO1 = pd.read_csv('Sustain_WIPO_IPC1_mit_auth.csv', delimiter=';')
WIPO2 = pd.read_csv('Sustain_WIPO_IPC2_mit_auth.csv', delimiter=';')
WIPO3 = pd.read_csv('Sustain_WIPO_IPC3_mit_auth.csv', delimiter=';')
WIPO4 = pd.read_csv('Sustain_WIPO_IPC4_mit_auth.csv', delimiter=';')
WIPO5 = pd.read_csv('Sustain_WIPO_IPC5_mit_auth.csv', delimiter=';')

# ENVTECH
# IPC
ENVTECH1 = pd.read_csv('Sustain_ENVTECH_IPC1_mit_auth.csv', delimiter=';')
ENVTECH2 = pd.read_csv('Sustain_ENVTECH_IPC2_mit_auth.csv', delimiter=';')
ENVTECH3 = pd.read_csv('Sustain_ENVTECH_IPC3_mit_auth.csv', delimiter=';')
ENVTECH4 = pd.read_csv('Sustain_ENVTECH_IPC4_mit_auth.csv', delimiter=';')
ENVTECH5 = pd.read_csv('Sustain_ENVTECH_IPC5_mit_auth.csv', delimiter=';')
ENVTECH5 = pd.read_csv('Sustain_ENVTECH_IPC5_mit_auth.csv', delimiter=';')

# CPC A
ENVTECH6 = pd.read_csv('envtech_cpc_mit_auth.csv', delimiter=';')
ENVTECH7 = pd.read_csv('envtech_cpc2_mit_auth.csv', delimiter=';')
ENVTECH8 = pd.read_csv('envtech_cpc3_mit_auth.csv', delimiter=';')
ENVTECH9 = pd.read_csv('envtech_cpc4_mit_auth.csv', delimiter=';')
ENVTECH10 = pd.read_csv('envtech_cpc5_mit_auth.csv', delimiter=';')
ENVTECH11 = pd.read_csv('envtech_cpc6_mit_auth.csv', delimiter=';')
ENVTECH12 = pd.read_csv('envtech_cpc7_mit_auth.csv', delimiter=';')

# CPC B
ENVTECH13 = pd.read_csv('Sustain_ENVTECH_CPC1_mit_auth.csv', delimiter=';')
ENVTECH14 = pd.read_csv('Sustain_ENVTECH_CPC2_mit_auth.csv', delimiter=';')
ENVTECH15 = pd.read_csv('Sustain_ENVTECH_CPC3_mit_auth.csv', delimiter=';')
ENVTECH16 = pd.read_csv('Sustain_ENVTECH_CPC4_mit_auth.csv', delimiter=';')
ENVTECH17 = pd.read_csv('Sustain_ENVTECH_CPC5_mit_auth.csv', delimiter=';')
ENVTECH18 = pd.read_csv('Sustain_ENVTECH_CPC6_mit_auth.csv', delimiter=';')

# Y-Codes
YCODE1 = pd.read_csv('y02EPtop.csv', delimiter=';')
YCODE2 = pd.read_csv('y02EPbottom.csv', delimiter=';')
YCODE3 = pd.read_csv('Sustain_YCODES_CPC1_mit_auth.csv', delimiter=';')
YCODE4 = pd.read_csv('Sustain_YCODES_CPC2_mit_auth.csv', delimiter=';')

In [3]:
WIPO1

       PUBLN_NR PUBLN_KIND publn_auth  publn_date ipc_class_symbol
0        193383         A1         EP  1986-09-03      F16H  48/38
1       2685547         A1         EP  2014-01-15      B60L  50/51
2       3424770         B1         EP  2021-12-01      B60L  50/60
3       2217803         A2         EP  2010-08-18      F03B  13/24
4       4114681         A1         EP  2023-01-11      B60L  53/65
...         ...        ...        ...         ...              ...
87149    889533         A3         EP  2000-01-26    H01L  31/0232
87150   3774440         A1         EP  2021-02-17      B60L  58/16
87151   2752889         A1         EP  2014-07-09      H01L  31/02
87152   3511195         A1         EP  2019-07-17      B60L  53/38
87153   2496456         B1         EP  2013-07-10      B60L  50/16

[87154 rows x 5 columns]

In [4]:
Sustain_WIPO_complete = pd.concat([WIPO1, WIPO2, WIPO3, WIPO4, WIPO5]).reset_index(drop=True)  # drop=True removes old indices
Sustain_ENVTECH_IPC_complete = pd.concat([ENVTECH1, ENVTECH2, ENVTECH3, ENVTECH4, ENVTECH5]).reset_index(drop=True)
Sustain_ENVTECH_CPC_complete = pd.concat([ENVTECH13, ENVTECH14, ENVTECH15, ENVTECH16, ENVTECH17, ENVTECH18]).reset_index(drop=True)
Sustain_YCODES_complete = pd.concat([YCODE3, YCODE4]).reset_index(drop=True)

In [6]:
Sustain_WIPO_complete_deduped = Sustain_WIPO_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
               .agg({"ipc_class_symbol": lambda x: list(set(x))}) \
               .reset_index()
Sustain_ENVTECH_IPC_complete_deduped = Sustain_ENVTECH_IPC_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
                .agg({"ipc_class_symbol": lambda x: list(set(x))}) \
                .reset_index()
Sustain_ENVTECH_CPC_complete_deduped = Sustain_ENVTECH_CPC_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
                .agg({"cpc_class_symbol": lambda x: list(set(x))}) \
                .reset_index()
Sustain_YCODES_complete_deduped = Sustain_YCODES_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
                .agg({"cpc_class_symbol": lambda x: list(set(x))}) \
                .reset_index()

In [7]:
print(len(Sustain_WIPO_complete), len(Sustain_WIPO_complete_deduped))
print(len(Sustain_ENVTECH_IPC_complete), len(Sustain_ENVTECH_IPC_complete_deduped))
print(len(Sustain_ENVTECH_CPC_complete), len(Sustain_ENVTECH_CPC_complete_deduped))
print(len(Sustain_YCODES_complete), len(Sustain_YCODES_complete_deduped))

534428 252203
276025 129162
1150685 632034
900000 568377

In [8]:
Sustain_ENVTECH_complete = pd.concat([Sustain_ENVTECH_IPC_complete_deduped, Sustain_ENVTECH_CPC_complete_deduped], sort=True).reset_index(drop=True)

In [9]:
Sustain_ENVTECH_complete["ipc_class_symbol"] = Sustain_ENVTECH_complete["ipc_class_symbol"].apply(lambda x: x if isinstance(x, list) else ([x] if pd.notna(x) else []))
Sustain_ENVTECH_complete["cpc_class_symbol"] = Sustain_ENVTECH_complete["cpc_class_symbol"].apply(lambda x: x if isinstance(x, list) else ([x] if pd.notna(x) else []))



Sustain_ENVTECH_deduped = Sustain_ENVTECH_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
               .agg({
        "ipc_class_symbol": lambda x: list(set([item for sublist in x for item in sublist])),  # Flatten & unique
        "cpc_class_symbol": lambda x: list(set([item for sublist in x for item in sublist]))   # Flatten & unique
    }) \
    .reset_index()

In [10]:
print(len(Sustain_ENVTECH_complete), len(Sustain_ENVTECH_deduped))

761196 644977

In [14]:
# Find the list with the most entries
max_ipc_list = max(Sustain_ENVTECH_complete['ipc_class_symbol'], key=len)

# Print the list with the most entries
print(max_ipc_list)
# Find the index of the row with the list with the most entries
max_ipc_row_index = Sustain_ENVTECH_complete['ipc_class_symbol'].apply(len).idxmax()

# Print the row with the list with the most entries
print(Sustain_ENVTECH_complete.loc[max_ipc_row_index])

['F02D  41/30', 'F02M  61/08', 'F02D  41/22', 'F02M  53/06', 'F02D  41/20', 'F02M  69/30', 'F02D  41/06', 'F02M  51/08', 'F02M  31/135', 'F02M  57/00', 'F02M  69/04', 'F02M  65/00', 'F02M  51/06', 'F02D  41/00', 'F02D  41/18', 'F02M  61/18', 'F02M  31/125', 'F02M  47/04', 'F02M  61/16', 'F02M  69/00', 'F02M  45/08', 'F02M  31/16']
PUBLN_KIND                                                         A1
PUBLN_NR                                                      1556602
cpc_class_symbol                                                   []
ipc_class_symbol    [F02D  41/30, F02M  61/08, F02D  41/22, F02M  ...
publn_auth                                                         EP
publn_date                                                 2005-07-27
Name: 63559, dtype: object

In [15]:
Sustain_complete = pd.concat([Sustain_WIPO_complete_deduped, Sustain_ENVTECH_deduped, Sustain_YCODES_complete_deduped], sort=True).reset_index(drop=True)

In [16]:
Sustain_complete["ipc_class_symbol"] = Sustain_complete["ipc_class_symbol"].apply(lambda x: x if isinstance(x, list) else ([x] if pd.notna(x) else []))
Sustain_complete["cpc_class_symbol"] = Sustain_complete["cpc_class_symbol"].apply(lambda x: x if isinstance(x, list) else ([x] if pd.notna(x) else []))



Sustain_complete_deduped = Sustain_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
               .agg({
        "ipc_class_symbol": lambda x: list(set([item for sublist in x for item in sublist])),  # Flatten & unique
        "cpc_class_symbol": lambda x: list(set([item for sublist in x for item in sublist]))   # Flatten & unique
    }) \
    .reset_index()

In [17]:
print(len(Sustain_complete), len(Sustain_complete_deduped))

1465557 773786

## Artificial Intelligence

In [18]:
# combinations
AI_comb1 = pd.read_csv('AI_combinations1_mit_auth.csv', delimiter=';')
AI_comb2 = pd.read_csv('AI_combinations2_mit_auth.csv', delimiter=';')
AI_comb3 = pd.read_csv('AI_combinations3_mit_auth.csv', delimiter=';')
AI_comb4 = pd.read_csv('AI_combinations4_mit_auth.csv', delimiter=';')
AI_comb5 = pd.read_csv('AI_combinations5_mit_auth.csv', delimiter=';')
AI_comb6 = pd.read_csv('AI_combinations6_mit_auth.csv', delimiter=';')
AI_comb7 = pd.read_csv('AI_combinations7_mit_auth.csv', delimiter=';')
AI_comb8 = pd.read_csv('AI_combinations8_mit_auth.csv', delimiter=';')
AI_comb9 = pd.read_csv('AI_combinations9_mit_auth.csv', delimiter=';')
AI_comb10 = pd.read_csv('AI_combinations10_mit_auth.csv', delimiter=';')

# CPC & IPC
AI_CPC = pd.read_csv('AI_CPC_mit_auth.csv', delimiter=';')
AI_IPC = pd.read_csv('AI_IPC_mit_auth.csv', delimiter=';')

# keywords
AI_keyword1 = pd.read_csv('AI_keyword1_mit_auth.csv', delimiter=';')
AI_keyword2 = pd.read_csv('AI_keyword2_mit_auth.csv', delimiter=';')
AI_keyword3 = pd.read_csv('AI_keyword3_mit_auth.csv', delimiter=';')
AI_keyword4 = pd.read_csv('AI_keyword4_mit_auth.csv', delimiter=';')
AI_keyword5 = pd.read_csv('AI_keyword5_mit_auth.csv', delimiter=';')
AI_keyword6 = pd.read_csv('AI_keyword6_mit_auth.csv', delimiter=';')
AI_keyword7 = pd.read_csv('AI_keyword7_mit_auth.csv', delimiter=';')
AI_keyword8 = pd.read_csv('AI_keyword8_mit_auth.csv', delimiter=';')

In [19]:
AI_complete = pd.concat([AI_comb1, AI_comb2, AI_comb3, AI_comb4, AI_comb5, AI_comb6, AI_comb7, AI_comb8, AI_comb9, AI_comb10, AI_CPC, AI_IPC, AI_keyword1, AI_keyword2, AI_keyword3, AI_keyword4, AI_keyword5, AI_keyword6, AI_keyword7, AI_keyword8], sort=True).reset_index(drop=True)

In [20]:
AI_complete_deduped = AI_complete.groupby(["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"]) \
                .agg({  "ipc_class_symbol": lambda x: list(set(x.dropna())),
                        "cpc_class_symbol": lambda x: list(set(x.dropna()))}) \
                .reset_index()

In [23]:
AI_complete_deduped

,PUBLN_NR,PUBLN_KIND,publn_auth,publn_date,ipc_class_symbol,cpc_class_symbol
0,192,A1,EP,1979-01-10,[],[]
1,192,B1,EP,1980-09-03,[],[]
2,236,A1,EP,1979-01-10,[],[]
3,384,A1,EP,1979-01-24,[],[]
4,384,B1,EP,1981-12-30,[],[]
...,...,...,...,...,...,...
451854,4216577,A1,EP,2023-07-26,[],[]
451855,4216673,A1,EP,2023-07-26,[],[]
451856,4216675,A1,EP,2023-07-26,[],[]
451857,4216676,A2,EP,2023-07-26,[],[]
451858,4216682,A1,EP,2023-07-26,[],[]

In [22]:
print(len(AI_complete), len(AI_complete_deduped))

531195 451859

In [24]:
# Find the list with the most entries
max_ipc_list = max(AI_complete_deduped['ipc_class_symbol'], key=len)

# Print the list with the most entries
print(max_ipc_list)
# Find the index of the row with the list with the most entries
max_ipc_row_index = AI_complete_deduped['ipc_class_symbol'].apply(len).idxmax()

# Print the row with the list with the most entries
print(AI_complete_deduped.loc[max_ipc_row_index])

['H04L  25/03', 'G11B  20/14', 'G11B  20/18', 'H04L  12/24', 'G11B  20/10', 'H04L  25/02']
PUBLN_NR                                                      1697843
PUBLN_KIND                                                         A2
publn_auth                                                         EP
publn_date                                                 2006-09-06
ipc_class_symbol    [H04L  25/03, G11B  20/14, G11B  20/18, H04L  ...
cpc_class_symbol                                                   []
Name: 186719, dtype: object

# Intersection

In [25]:
Sustainable_AI = pd.merge(AI_complete_deduped, Sustain_complete_deduped, on=["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date"], how='inner')

In [26]:
Sustainable_AI

,PUBLN_NR,PUBLN_KIND,publn_auth,publn_date,ipc_class_symbol_x,cpc_class_symbol_x,ipc_class_symbol_y,cpc_class_symbol_y
0,236,A1,EP,1979-01-10,[],[],[],[Y02E 10/40]
1,1348,A1,EP,1979-04-04,[],[],[F16H 3/60],[]
2,1844,A2,EP,1979-05-16,[],[],[],[Y02P 80/15]
3,1844,B1,EP,1983-04-06,[],[],[],[Y02P 80/15]
4,1856,A1,EP,1979-05-16,[],[],[],[Y02P 20/129]
...,...,...,...,...,...,...,...,...
38538,4216395,A1,EP,2023-07-26,[],[],[],[Y04S 40/20]
38539,4216416,A1,EP,2023-07-26,[],[],"[B60L 55/00, B60L 53/20, B60L 53/00]",[Y02B 70/10]
38540,4216420,A1,EP,2023-07-26,[],[],[],[Y02B 70/10]
38541,4216673,A1,EP,2023-07-26,[],[],[],[Y02B 20/30]
38542,4216675,A1,EP,2023-07-26,[],[],[],[Y02B 20/40]

In [27]:
len(Sustainable_AI)

38543

In [28]:
# Combine the lists from the corresponding columns to create unified lists for each
Sustainable_AI["ipc_class_symbol"] = Sustainable_AI["ipc_class_symbol_x"] + Sustainable_AI["ipc_class_symbol_y"]  # Combine IPC lists
Sustainable_AI["cpc_class_symbol"] = Sustainable_AI["cpc_class_symbol_x"] + Sustainable_AI["cpc_class_symbol_y"]  # Combine CPC lists
#Sustainable_AI["publn_date"] = Sustainable_AI["publn_date_y"]  # Keeping the already combined date list

# Convert to unique lists to remove duplicates
Sustainable_AI["ipc_class_symbol"] = Sustainable_AI["ipc_class_symbol"].apply(lambda x: list(set(x)))  # Deduplicate
Sustainable_AI["cpc_class_symbol"] = Sustainable_AI["cpc_class_symbol"].apply(lambda x: list(set(x)))  # Deduplicate

# Select only the relevant columns (drop unnecessary ones)
Sustainable_AI = Sustainable_AI[["PUBLN_NR", "PUBLN_KIND", "publn_auth", "publn_date", "ipc_class_symbol", "cpc_class_symbol"]]

In [29]:
display(Sustainable_AI)

,PUBLN_NR,PUBLN_KIND,publn_auth,publn_date,ipc_class_symbol,cpc_class_symbol
0,236,A1,EP,1979-01-10,[],[Y02E 10/40]
1,1348,A1,EP,1979-04-04,[F16H 3/60],[]
2,1844,A2,EP,1979-05-16,[],[Y02P 80/15]
3,1844,B1,EP,1983-04-06,[],[Y02P 80/15]
4,1856,A1,EP,1979-05-16,[],[Y02P 20/129]
...,...,...,...,...,...,...
38538,4216395,A1,EP,2023-07-26,[],[Y04S 40/20]
38539,4216416,A1,EP,2023-07-26,"[B60L 55/00, B60L 53/00, B60L 53/20]",[Y02B 70/10]
38540,4216420,A1,EP,2023-07-26,[],[Y02B 70/10]
38541,4216673,A1,EP,2023-07-26,[],[Y02B 20/30]
38542,4216675,A1,EP,2023-07-26,[],[Y02B 20/40]

In [30]:
Sustainable_AI.to_csv('Sustainable_AI.csv', sep=';', index=False)